# Capstone Project Notebook

This Jupyter Notebook is a Peer graded assignment for the course - Applied Data Science Capstone.

This course is a part of the Data Science Professional Certificate

The cells below show the libraries required for the project.

#### Libraries Required

In [19]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
print("Libraries imported")

Libraries imported

#### Scrape data from URL

In [20]:
url = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
soup = BeautifulSoup(url,"lxml")

#### Create Dataframe

In [28]:
table_data = soup.find('table')
fields = table_data.find_all('td')

postalcode = []
borough = []
neighbourhood = []

for i in range(0, len(fields), 3):
    postalcode.append(fields[i].text.strip())
    borough.append(fields[i+1].text.strip())
    neighbourhood.append(fields[i+2].text.strip())
        
df_to = pd.DataFrame(data=[postalcode, borough, neighbourhood]).transpose()
df_to.columns = ['Postalcode', 'Borough', 'Neighbourhood']
df_to.head()

  Postalcode           Borough              Neighbourhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

#### Remove 'Not assigned' values

In [29]:
df_to['Borough'].replace('Not assigned', np.nan, inplace=True)
df_to.dropna(subset=['Borough'], inplace=True)
df_to.head()

  Postalcode           Borough                                Neighbourhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [31]:
df_to_updated = df_to.groupby(['Postalcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df_to_updated.columns = ['Postalcode', 'Borough', 'Neighbourhood']
df_to_updated

    Postalcode      Borough                                      Neighbourhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

#### Clean Neighborhood values

In [32]:
df_to_updated['Neighbourhood'].replace('Not assigned', "Queen's Park", inplace=True)
df_to_updated

    Postalcode      Borough                                      Neighbourhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

#### Get number of rows and columns of the updated dataframe

In [34]:
df_to_updated.shape

(103, 3)